<h2>Rafael Nadal</h2>
<ul>
  <li><a href="/activity/rafael_nadal/2015">2015 All activities</a></li>
  <li><a href="/activity/vstop10/rafael_nadal/2015">2015 vs TOP10 activities</a></li>
  <li><a href="/activity/lower/rafael_nadal/2015">2015 Lose lower ranking player activities</a></li>
</ul>
<h2>Kei Nishikori</h2>
<ul>
  <li><a href="/activity/kei_nishikori/2015">2015 All activities</a></li>
  <li><a href="/activity/vstop10/kei_nishikori/2015">2015 vs TOP10 activities</a></li>
  <li><a href="/activity/lower/kei_nishikori/2015">2015 Lose lower ranking player activities</a></li>
</ul>
