<h2>Rafael Nadal Activity</h2>
<ul>
  <li><a href="/activity/rafael_nadal/2015">2015 All</a></li>
  <li><a href="/activity/vstop10/rafael_nadal/2015">2015 vs TOP10</a></li>
  <li><a href="/activity/higher/rafael_nadal/2015">2015 vs Higher ranking player activities</a></li>
  <li><a href="/activity/lower/rafael_nadal/2015">2015 Beaten by lower ranking player</a></li>
  <li><a href="/activity/rafael_nadal/2014">2014 All</a></li>
  <li><a href="/activity/vstop10/rafael_nadal/2014">2014 vs TOP10</a></li>
  <li><a href="/activity/higher/rafael_nadal/2014">2014 vs Higher ranking player</a></li>
  <li><a href="/activity/lower/rafael_nadal/2014">2014 Beaten by lower ranking player</a></li>
</ul>
<h2>Kei Nishikori Activity</h2>
<ul>
  <li><a href="/activity/kei_nishikori/2015">2015 All</a></li>
  <li><a href="/activity/vstop10/kei_nishikori/2015">2015 vs TOP10</a></li>
  <li><a href="/activity/higher/kei_nishikori/2015">2015 vs Higher ranking player</a></li>
  <li><a href="/activity/lower/kei_nishikori/2015">2015 Beaten by lower ranking player</a></li>
  <li><a href="/activity/kei_nishikori/2014">2014 All</a></li>
  <li><a href="/activity/vstop10/kei_nishikori/2014">2014 vs TOP10</a></li>
  <li><a href="/activity/higher/kei_nishikori/2014">2014 vs Higher ranking player</a></li>
  <li><a href="/activity/lower/kei_nishikori/2014">2014 Beaten by lower ranking player</a></li>
</ul>

<h1>Players</h1>
<ul>
  <% @players.each do |player| %>
    <li><%= player.name %></li>
  <% end %>
</ul>
